{{#each results}}
  <div class="col l6">
    <div class="business_panel z-depth-2 ">

      <div class="row">

        <div class="col l4">
          <div class="icon-box"><i class="material-icons icon">place</i></div>
        </div>

        <div class="col l8">
          <h5 class="business-heading">{{business_name}}</h5>
          <div class="phone">
            <phone>{{business_phone}}</phone></li>
          </div>

          <div class="address">
            <address>{{business_address1}}</address>
            <address>{{business_address2}}</address>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col l12 rating-col">
         <p class="rating-p"><span class="rating">{{business_rating}}</span> of 5 Stars!</p>
        </div>
      </div>

      <div class="row thoughts-row">
        <div class="col l12">
          <p><b>Thoughts:</b></p>
           <div class="comments">
             <p>{{business_comment}}</p>
          </div>
        </div>
      </div>


    </div>
  </div>
{{/each}}
