{{>navbar}}
<main>
  <div class="container">

    <div class="row">

      <div class="categories">

<<<<<<< HEAD
        <div class="col l3">
          <a href="/restaurant" name="business_category" value="restaurant" class="waves-effect waves-light btn">Restaurants</a>
        </div>

        <div class="col l3">
          <a  href="/"class="waves-effect waves-light btn">Activities</a>
        </div>

        <div class="col l3">
          <a href="/"class="waves-effect waves-light btn">Tourism</a>
        </div>

        <div class="col l3">
          <a href="/nightlife" name="business_category" value="nightlight" class="waves-effect waves-light btn">Nightlife</a>
=======
        <div class="col l2.4">
          <a href="/restaurant" class="waves-effect waves-light btn">Restaurants</a>
        </div>

        <div class="col l2.4">
          <a  href="/activities" class="waves-effect waves-light btn">Activities</a>
        </div>

        <div class="col l2.4">
          <a href="/tourism" class="waves-effect waves-light btn">Tourism</a>
        </div>

        <div class="col l2.4">
          <a href="/nightlife" class="waves-effect waves-light btn">Nightlife</a>
        </div>

        <div class="col l2.4">
          <a href="/showall" class="waves-effect waves-light btn">Show All</a>
>>>>>>> 31ad6a67702af0990d5109abdb3457a7ad150cbf
        </div>

      </div>

    </div><!-- end row -->

<<<<<<< HEAD
    {{#each results}}
        <p>{{business_category}}
        {{business_name}}
        {{business_address1}}
        {{business_address2}}
        {{business_phone}}
        {{user_comment}}
        </p
    {{/each}}


  </div><!-- end container -->

</main>
=======
  {{>result}}<!-- this is displaying all the results -->

  </div><!-- end container -->

</main>
>>>>>>> 31ad6a67702af0990d5109abdb3457a7ad150cbf
