{{>dashboard_nav}}

<main id="dashboard">
{{#if isAuthenticated}}
   <nav id="dash-nav">
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="dash-nav left hide-on-med-and-down">
          <li><a>Profile</a></li>
          <li><a>Friends</a></li>
          <li><a>Reviews</a></li>
          <li><a>Compliments</a></li>
          <li><a>Tips</a></li>
          <li><a>Bookmarks</a></li>
          <li><a>Check-Ins</a></li>
          <li><a>Events</a></li>
          <li><a>Following</a></li>
          <li><a>Lists</a></li>
        </ul>
      </div>
    </nav>

  <div class="container">
    <div class="row">
      <div class="col l9">
        <div class="dashboard-panel">
          <h4>Welcome to your dashboard, {{user.firstname}}!</h4>
          <div class="add-place">
            <p>Found an awesome new venue? Share it with the RU community!</p>
            <a href="#myModal" id="add-venue" class="modal-trigger waves-effect waves-light index-btn register btn go-btn">Add Venue</a>
            <p>{{msg}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col l12">
          <div class="results-panel">
            <h5>Your Recent Reviews</h5>
            <p>Check out what you've been up to</p>
          </div>
        </div>
      </div>
       <div class="review-container">
      <div class="row">

          <div class="col l12">
            {{>result}}
          </div>
        </div>
      </div>
    </div>
{{else}}
    <div class="container">
      <div class="row">
        <div class="col l9">
          <div class="dashboard-panel">
            <h4>Opps! You must be registered to access this page!</h4>
            <div class="add-place">
              <p>By signing up for Relp, you get to add great new venues and review venues that other memnber of the RU community have added. Sign Up Today!</p>
              <a href="/" id="add-venue" class="modal-trigger waves-effect waves-light index-btn register btn go-btn">Register Here</a>
            </div>
          </div>
        </div>
{{/if}}



       <div class="col l3">

          <div class="card">
            <div class="card-image">
              <img src="images/nightlife_md.jpg">
              <span class="card-title">Deko</span>
            </div>
            <div class="card-content">
              <p>A blast everytime....</p>
            </div>
            <div class="card-action">
              <a href="#">Full Review</a>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img src="images/activities_md.jpg">
              <span class="card-title">Group-Fit</span>
            </div>
            <div class="card-content">
              <p>Such a great burn....</p>
            </div>
            <div class="card-action">
              <a href="#">Full Review</a>
            </div>
          </div>


          <div class="card">
            <div class="card-image">
              <img src="images/restaurant_md.jpg">
              <span class="card-title">Le Chiq</span>
            </div>
            <div class="card-content">
              <p>Fine Dining to a T...</p>
            </div>
            <div class="card-action">
              <a href="#">Full Review</a>
            </div>
          </div>

            <div class="card">
            <div class="card-image">
              <img src="images/tourism_md.jpg">
              <span class="card-title">Explore</span>
            </div>
            <div class="card-content">
              <p>Amazing Sites...</p>
            </div>
            <div class="card-action">
              <a href="#">Full Review</a>
            </div>
          </div>


      </div>


        <!--Register  Modal Structure -->

      <div id="myModal" class="modal">
        <div class="modal-content">
          <h5>Add A Venue</h5>
          <div class="row">
            <form class="col s12" method="POST" action="/save_business">
              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="Business Name" id="business_name" type="text" class="validate" name="business_name">
                </div>
                <div class="input-field col s6">
                  <input placeholder="Phone Number"  id="business_phone" type="text" class="validate" name="business_phone">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="Street Address"  id="business_address1" type="text" class="validate" name="business_address1">
                </div>
                 <div class="input-field col s6">
                  <select name="business_category">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="restaurant">Restaurant</option>
                    <option value="activities">Activities</option>
                    <option value="tourism">Tourism</option>
                    <option value="nightlife">Nightlife</option>
                  </select>
                  <label>Business Type</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="City, State, Zip" id="business_address2" type="text" class="validate" name="business_address2">
                </div>
                 <div class="input-field col s6">
                  <select name="business_rating">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <label>Rating</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                 <textarea id="business_comment" placeholder="So, how was it really?" class="materialize-textarea" name="business_comment"></textarea>
                </div>
                    </div>
                <button class="btn btn-lg btn-block right go-btn" type="submit">Register</button>
            </form>
          </div>
        </div>
      </div>

      <!-- Edit Modal Structure -->
      {{#each results}}
      <div id="editModal" class="modal">
        <div class="modal-content">
          <h5>Edit Venue</h5>
          <div class="row">
            <form class="col s12" method="POST" action="/edit/{{id}}/update?_method=PUT">
              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="Business Name" id="business_name" type="text" class="validate" value={{business_name}} name="business_name">
                </div>
                <div class="input-field col s6">
                  <input placeholder="Phone Number"  id="business_phone" type="text" class="validate" value={{business_phone}} name="business_phone">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="Street Address"  id="business_address1" type="text" class="validate" value={{business_address1}} name="business_address1">
                </div>
                 <div class="input-field col s6">
                  <select name="business_category">
                    <option value={{business_category}}>{{business_category}}</option>
                    <option value="restaurant">Restaurant</option>
                    <option value="activities">Activities</option>
                    <option value="tourism">Tourism</option>
                    <option value="nightlife">Nightlife</option>
                  </select>
                  <label>Business Type</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="City, State, Zip" id="business_address2" type="text" class="validate"  value={{business_address2}} name="business_address2">
                </div>
                 <div class="input-field col s6">
                  <select name="business_rating">
                    <option value={{business_rating}}>{{business_rating}}</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <label>Rating</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                 <textarea id="business_comment" placeholder="So, how was it really?" class="materialize-textarea"  name="business_comment">{{business_comment}}</textarea>
                </div>
                    </div>
                <button href="/edit/{{id}}/update" class="btn btn-lg btn-block right go-btn" type="submit">Update</button>
            </form>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</main>


